/*******************/
/***** GENERAL *****/
/******************/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.d-flex{
  display: flex;
}

.debug{
  background-color: rgba(0, 0, 255, 0.25);
  min-height: 50px;
  border: 1px solid black;
}

.flex-wrap{
  flex-wrap: wrap;
}

.p-relative{
  position: relative;
}

.container{
  height: calc(100vh - 90px);
  width: 100vw;
  position: relative;
}

.none{
  display: none;
}

.l-gray{
  color: lightgrey;
}

.cursor{
  cursor: pointer;
}

li{
  font-size: 0.8rem;
  list-style: none;
}

/*****************/
/***** HEADER *****/
/******************/

header{
  display: flex;
  width: 100vw;
  left: 0;
  height: 90px;
  background-color: rgba(0, 0, 0, 0.866);
  position: fixed;
  z-index: 2;
  /* overflow-y: scroll; */
  justify-content: flex-end;
  align-items: center;
}


.button{
  align-items: center;
  width: 215px;
  height: 40px;
  text-align: center;
  z-index: 10;
  background-color: none;
  border: 1px solid white;
  border-radius: 50px;
  
  padding: 10px;
  margin-right: 20px;
}

header .button a{
  text-decoration: none;
  color: white;
}

/*******************/
/***** SIDENAV *****/
/******************/

.sidenav{
  background-color: black;
  width: 230px;
  height: clac(100vh - 90px);
  z-index: 4;
  left: 0;
  top: 0;
  position: relative;
}

.container .sidenav .logo img{
  padding: 10px 50px 20px 10px;
}

.container .sidenav .under-600{
  display: none;
}

.container .sidenav .ul-nav ul li{
  padding: 10px 0 5px 10px;
}

.container .sidenav .ul-nav ul li i {
  font-size: 1.2rem;
}

.container .sidenav .playlist{
  margin-top: 20px;
  flex-direction: column;
  padding: 0px 0 5px 10px;
}

.container .sidenav .playlist .ul-nav ul{
  height: calc(100vh - 450px);
  overflow-y: auto;
}
    

.container .sidenav .more{
  margin-top: 10px;
}

.container .sidenav  .playlist span{
  padding: 10px 0 10px 5px;
  
}


.container .sidenav  .playlist i {
  font-size: 2.5rem;
}

.container .sidenav .playlist:first-child{
  color: white;
}

.container .sidenav .ul-nav ul li:hover{
 
  color: white;
}

.container .sidenav .ul-nav ul li:active{
  border-left: 2px solid greenyellow;
}

.container .sidenav .bottom{
 bottom: 0;
 padding-left: 10px ;
}



.container .sidenav .bottom .user{
  padding-top: 10px;
  border-top: 1px solid lightgray;
  align-items: flex-end;
 }
 


/*******************/
/***** MAIN *****/
/******************/

main{
  
  max-height: calc(100vh - 90px);
  right: 0;
  width: calc(100vw - 230px);
  top: 0;
  overflow: scroll;
  color: lightgray;
  background-color: rgb(20, 25, 34);
  overflow-y: scroll;
  overflow-x: hidden;
}

main .main-container{
  justify-content: space-around;
  margin-top: 110px;
}

main nav{
  margin-bottom: 10px;
}

main nav ul li{
  padding: 10px;
  align-items: center;
  cursor: pointer;
}

main nav ul li:hover{
  color: white;
}

main nav ul li:active{
  border-bottom: 2px solid greenyellow;
}

main .box{
  margin-left: 20px;
}

main .row .text{
  display: block;
}

.card{
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  
  margin-left: 20px;
}

main .row .card .img{
  
}

.row{
  margin: 20px auto ;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
/******************/
/***** FOOTER *****/
/******************/

footer{
  z-index: 999;
  background-color: black;
  height: 90px;
  left: 0;
  bottom: 0;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
}

footer .footer-left{
  margin-left: 10px;
  height: 50px;
  width: 15vw;
  justify-content: space-around;
  align-items: center;
}

footer .footer-left a{
  text-decoration: none;
  
  color: white;
}

footer .footer-left i{
  padding-left: 5px;
}

footer .footer-left img{
  aspect-ratio: 1/1;
  width: 4vw;
}

footer .foote-right{
  margin-right: 10px;
  height: 50px;
  width: 15vw;
  justify-content: space-around;
  align-items: center;
}

footer .foote-right .w3-container{
  width: 50%;
}

footer .foote-right .w3-grey{
  border: 2px solid gray;
  width: 30%;
  height: 2px;

}


/******************************/
/***** RESPONSIVE SIDENAV *****/
/****************************/

@media screen and (max-width:600px) {
  .sidenav{
    max-width: 70px;
    padding: auto;
  }

  .sidenav .big-logo{
      display: none;
  }

 .sidenav .small-logo{
    display: block;
    width: 100px;
  }

  .sidenav .over-600{
    display: none;
  }

  .sidenav .under-600{
    color: lightgray;
    display: block;
  }

 .sidenav .playlist{
    display: none;
  }

 .sidenav .bottom{
    display: none;
  }

  main{
    width: calc(100vw - 70px);
  }
}


/******************************/
/***** RESPONSIVE FOOTER*****/
/****************************/

@media screen and (max-width:1200px ) {
  footer .footer-left .icon-left{
    flex-direction: column;
  }

  footer .footer-left .name a, span{
    font-size: 1rem;
  }
  
}

/******************************/
/***** RESPONSIVE MAIN*****/
/****************************/


@media screen and (max-width:800px){
  main{
    flex-wrap: wrap;
  }
  
}