/*******************/
/***** GENERAL *****/
/******************/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.d-flex{
  display: flex;
}

.debug{
  background-color: rgba(0, 0, 255, 0.25);
  min-height: 50px;
  border: 1px solid black;
}

.flex-wrap{
  flex-wrap: wrap;
}

.p-relative{
  position: relative;
}

.container{
  height: calc(100vh - 90px);
  width: 100vw;
  position: relative;
}

.none{
  display: none;
}

.l-gray{
  color: lightgrey;
}

.cursor{
  cursor: pointer;
}
/******************/
/***** HEADER *****/
/******************/

header{
  display: flex;
  width: 100vw;
  left: 0;
  height: 90px;
  background-color: rgba(0, 0, 0, 0.866);
  position: fixed;
  z-index: 2;
  /* overflow-y: scroll; */
  justify-content: flex-end;
  align-items: center;
}


.button{
  align-items: center;
  width: 215px;
  height: 40px;
  text-align: center;
  z-index: 10;
  background-color: none;
  border: 1px solid white;
  border-radius: 50px;
  
  padding: 10px;
  margin-right: 20px;
}

header .button a{
  text-decoration: none;
  color: white;
}

/*******************/
/***** SIDENAV *****/
/******************/

.sidenav{
  background-color: black;
  width: 230px;
  height: clac(100vh - 90px);
  z-index: 4;
  left: 0;
  top: 0;
  position: relative;
}

.container .sidenav .logo img{
  padding: 10px 50px 20px 10px;
}

.container .sidenav .ul-nav ul li{
  padding: 10px 0 5px 10px;
  font-size: 0.8rem;
  list-style: none;
}

.container .sidenav .ul-nav ul li i {
  font-size: 1.2rem;
}

.container .sidenav .playlist{
  margin-top: 20px;
  flex-direction: column;
  padding: 0px 0 5px 10px;
}

.container .sidenav .playlist .ul-nav ul{
  height: calc(100vh - 450px);
  overflow-y: auto;
}
    

.container .sidenav .more{
  margin-top: 10px;
}

.container .sidenav  .playlist span{
  padding: 10px 0 10px 5px;
  
}


.container .sidenav  .playlist i {
  font-size: 2.5rem;
}

.container .sidenav .playlist:first-child{
  color: white;
}

.container .sidenav .ul-nav ul li:hover{
 
  color: white;
}

.container .sidenav .ul-nav ul li:active{
  border-left: 2px solid greenyellow;
}

.container .sidenav .bottom{
 bottom: 0;
 padding-left: 10px ;
}



.container .sidenav .bottom .user{
  padding-top: 10px;
  border-top: 1px solid lightgray;
  align-items: flex-end;
 }
 


/*******************/
/***** MAIN *****/
/******************/

main{
  
  max-height: calc(100vh - 90px);
  right: 0;
  width: calc(100vw - 230px);
  top: 0;
  overflow: scroll;
  /* margin-left: 230px; */
  
  overflow-y: scroll;
  overflow-x: hidden;
}

main div{
  margin-top: 90px;
}

/******************/
/***** FOOTER *****/
/******************/

footer{
  z-index: 999;
  background-color: blue;
  height: 90px;
  left: 0;
  bottom: 0;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
}

footer .footer-left{
  margin-left: 10px;
  height: 50px;
  width: 220px;
  justify-content: space-around;
  align-items: center;
}

footer .footer-left a{
  text-decoration: none;
  color: white;
}

footer .footer-left i{
  padding-left: 5px;
}

footer .footer-left img{
  height: 50px;
  width: 50px;
}


/***********************/
/***** RESPONSIVE  *****/
/***********************/

@media screen and (max-width:600px) {
  .sidenav{
    max-width: 70px;
  }

  .sidenav .big-logo{
      display: none;
  }

    .sidenav .small-logo{
      display: block;
    }

    main{
      width: calc(100vw - 70px);
    }
}